extends ../layout

block content
  .login.row
    if error
      include ../error
    .small-3.small-centered.columns
      h3 Login
      form(action="/sessions" method="post")
        label(for="user[email]") Email
        input(type="email" name="user[email]" placeholder="Enter your email")
        label(for="user[password]") Password
        input(type="password" name="user[password]")
        input.button(type="submit" value="Login")
